/* md */
@media (min-width: 768px) {

  .trail-image {
    position: fixed;
    pointer-events: none;
    width: 150px;
    height: 75px;
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
    border-radius: 6px;
    overflow: hidden;
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.320, 1),
                opacity 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .trail-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

}

/* lg */
@media (min-width: 1024px) {
  .trail-image {
    width: 180px;
    height: 90px;
  }
}

/* xl */
@media (min-width: 1280px) {
  .trail-image {
    width: 220px;
    height: 110px;
  }
}

/* 2xl */
/* @media (min-width: 1536px) {} */